@media (min-width:1441px) {
    /* .hero {
        height: fit-content;
    } */
    /* .hero .content {
        top: 15%;
        height: 0;
    } */
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
    .about-section2 .row .item2 img {
        width: 100%;
    }
    .about-section2 .row .item3 {
        margin-top: 0;
    }
    .about-section2 .row .item3 img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .heading h3 {
        text-align: center;
    }
    #menu-btn {
        display: inline-block;
    }
    .container {
        max-width: 100%;
    }
    .message {
        padding: 10px;
    }

    /* Nav Start */
    .icons {
        display: flex;
        gap: 10px;
    }
    nav .icons>* {
        margin: 0;
        display: flex;
    }
    nav .profile {
        top: 50%;
        width: 50%;
    }
    /* Nav End */

    /* Header */
    .header .flex .navbar {
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--black);
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar a {
        display: block;
        margin: 10px;
    }
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    /* Hero */
    .hero img {
        object-fit: cover;
    }
    .hero .content {
        top: 45%;
    }
    .hero .content .box-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero .content .box-1 h2 {
        text-align: center;
        width: 100%;
    }
    .hero .content .box-1 p {
        text-align: center;
    }
    .hero .more-btn {
        text-align: center;
    }
    .hero .content .box-2 {
        flex-direction: column;
        gap: 24px;
    }
    .hero .content .box-2 .download {
        flex-direction: column;
    }

    /* Section-1 */
    .section-1 .box-container {
        gap: 25px;
    }

    /* Section-2 */
    .section-2 .content {
        padding: 25px;
    }
    .section-2 img {
        height: 100%;
    }
    .section-2 .content h4 {
        width: 100%;
    }

    /* About */
    /* Section 1 */
    .about-section1 .row .item1 img {
        width: 100%;
    }
    .about-section1 .row .item4 {
        margin-top: 0;
    }
    .about-section1 .row .item4 img {
        width: 100%;
    }

    /* Section2 */
    .about-section1 .row .grid-container {
        grid-template-columns :none;
    }
    .about-section2 .row .grid-container {
        grid-template-columns :none;
    }

    /* Section3 */
    .about-section3 {
        margin: 25px;
    }
    .about-section3 .row h2 {
        font-size: 44px;
        width: 100%;
    }
    .about-section3 img {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .title {
        font-size: 32px;
        line-height: 50px;
    }

    /* Home Start */
    /* Hero */
    .hero .content {
        top: 35%;
    }
    .hero .content .box-1 h2 {
        font-size: 40px;
    }
    .hero .content .box-1 p {
        width: 100%;
    }

    /* Section 2 */
    .section-2 .content h2 {
        width: 100%;
    }
    .section-2 img {
        width: 100%;
    }

    /* Category */
    .category .box-container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        padding: 0 20px;
        margin: 0;
    }
    .category .box-container .box .content img {
        height: 125px;
        top: 10px;
        right: -35px;
    }
    .category .box-container .box .text p {
        width: 50%;
    }

    /* Product */
    .menu .box-container {
        grid-template-columns: 1fr;
    }
    .menu .cart-total {
        padding: 1.5rem;
        justify-content: center;
    }
    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

    /* Subscribe */
    .subscribe .content {
        width: 100%;
    }
    .subscribe .content form {
        width: 100%;
    }
    /* Home End */

    /* About Start */
    /* About */
    .about-hero .content {
        top: 55%;
        text-align: center;
    }
    .about-section1 .row .grid-container {
        display: unset;
    }
    .about-section1 .row .grid-container .grid-item {
        padding: 0;
        height: fit-content;
    }
    .about-section1 .row .grid-container .item1 img {
        width: 100%;
    }
    .about-section1 .row .grid-container .item4 {
        margin-top: 0;
    }
    .about-section1 .row .grid-container .item4 img {
        width: 100%;
    }
    .about-section2 .row .grid-container {
        display: unset;
    }
    .about-section2 .row .grid-container .grid-item {
        padding: 0;
        margin: 20px 0;
    }
    .about-section2 .row .grid-container .item3 img {
        width: 100%;
    }
    .about-section2 .row .grid-container .item3 {
        margin-top: 0;
    }
    .about-section2 .row .grid-container .item2 img {
        width: 100%;
    }
    .about-section3 img {
        width: 100%;
    }
    .about-section3 {
        margin: 25px;
    }
    .about-section3 .row h2 {
        width: 100%;
    }
    /* About End */

    /* Footer */
    .footer .flex {
        justify-content: center;
    }
}